<!DOCTYPE html>
<html>
  <head>
    <title>Create new actuator</title>
    <%- include('../../imports'); -%>
  </head>
  <body>
  <header>
    <%- include('../../navbar'); -%>
  </header>

    <div class = "container">
        <div class="row">
            <div class="col-md-12">
                <h1>New Actuator</h1>
            </div>
        </div>

        <div class="col-md-12">
            <form action="create" method="POST" >
                <div class="form-row">
                    <div class="col-md-12 mb-3">
                        <label for="actuatorName">Name</label>
                        <input name="theActuatorName" type="text" class="form-control is-valid" id="actuatorName" placeholder="Actuator name" required>
                    </div>
                </div>
    
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input is-invalid" type="checkbox" id="invalidCheck3" required>
                    <label class="form-check-label" for="invalidCheck3">
                        Agree to terms and conditions
                    </label>
                </div>
            </div>

                <button class="btn btn-dark btn-outline-info" type="submit">Save the actuator</button>
            </form>
        </div>

    </div>

  </body>
</html>