<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">    
    <title>Actuator administration</title>
    <%- include('../../imports'); -%>
</head>
<body>
    <%- include('../../navbar'); -%>
          
        <div class = "container">
            <div class="row">
                <h1>Actuator Administration</h1>
            </div>
    
            <div class="row mb-2">
                <a href="/admin/actuator/create" class="btn btn-dark btn-outline-info" > New Actuator </a>
            </div>
        
            <div class = "row">
                <table class="table table-hover ">
                    <thead class="thead-dark">
                        <tr>
                        <th scope="col">Code</th>
                        <th scope="col">Title</th>
                        </tr>
                    </thead>
                    
                    <tbody class="table-active" >
                        <% actuator.forEach((actuator) => { %>
                            <tr>
                                <td> <%= actuator.id %></td>
                                <td> <%= actuator.name %> </td>
                            </tr>
                        <% }); %>
                    </tbody>
                   
                </table>
            </div>
        </div>
</body>
</html>

