<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">    
    <title>Sensor administration</title>
    <%- include('../../imports'); -%>
</head>
<body>
    <%- include('../../navbar'); -%>

    <h1>Em andamento...</h1>
    
</body>
</html>