<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
   
    <%- include('imports'); -%>

  </head>
  <body class="fundo">

    <%- include('navbar'); -%>

    <div class="container">
      <div class="row">
 
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Sensor da Churrasqueira</h5>
            <p class="card-text">Temperatura: 34°C</p>
            <p class="card-text">Umidade: 80%</p>
          </div>
        </div>

        <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Luz da sala</h5>
              <a href="#" class="btn btn-primary">Ligar</a>
            </div>
          </div>

        </div>
      </div>

          <div class="container">
              <div class="row">


        <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Sensor da Sala</h5>
              <p class="card-text">Temperatura: 24°C</p>
              <p class="card-text">Umidade: 60%</p>
          </div>
        </div>

        <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">Luz da garagem</h5>
              <a href="#" class="btn btn-primary">Ligar</a>
            </div>
          </div>



      </div>
    </div>
    
  </body>
</html>