.card-body{

    
   width: 150%;

    
    
}

.row{


}

.container{

    
    
}

.card-body{
    width: 100%;
    background-color: #3E60C1;
    
}

.fundo{
    background-color: #2E4583;
    color: #ffd700;
    
}

.table{
    
}

.sensor-name{
    
    

}

.cardall{

    margin: 5%;
    padding-left: 25%;
}