.card-body{

    
   width: 150%;

    
    
}
.card-body{
    width: 100%;
    background-color: #3E60C1;
    
}

.fundo{
    background-color: #2E4583;
    color: #ffd700;
    
}

.cardall{

    margin: 5%;
    padding-left: 25%;
}

.table-active{
    color: #ffd700;
}

.table{
    color: #ffd700;
}